<div class="clr-row clr-justify-content-center" *ngIf="openNotification">
  <div class="clr-col-8">
    <div [class]="classTypeAlert" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper" [ngSwitch]="optAlertIcon">
            <!-- Icon Warning -->
            <cds-icon class="alert-icon"
                      *ngSwitchCase="'warning'"
                      shape="exclamation-triangle"></cds-icon>
            <!-- Icon Info -->
            <cds-icon class="alert-icon"
                      *ngSwitchCase="'info'"
                      shape="info-circle"></cds-icon>
            <!-- Icon Success -->
            <cds-icon class="alert-icon"
                      *ngSwitchCase="'success'"
                      shape="check-circle"></cds-icon>
            <!-- Icon Error -->
            <cds-icon class="alert-icon"
                      *ngSwitchDefault
                      shape="exclamation-circle"></cds-icon>
          </div>
          <span class="alert-text">
            {{ message }}
          </span>
        </div>
      </div>
      <button type="button"
              class="close"
              (click)="closeNotification()"
              aria-label="Close">
        <cds-icon aria-hidden="true" shape="times"></cds-icon>
      </button>
    </div>
  </div>
</div>
